@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;

.base__button {
    @apply px-6 py-[6px] bg-blue-500 text-white font-medium flex items-center hover:bg-blue-600 active:bg-blue-500 shadow disabled:bg-blue-400 disabled:cursor-not-allowed;
}
.base__select {
    @apply px-5 py-[6px] bg-gray-50 text-black hover:bg-gray-100 active:bg-gray-200 shadow outline-none cursor-pointer;
}
.base__input{
    @apply bg-gray-50 px-3 py-2 outline-none border border-gray-200 mt-1 focus:border-blue-500;
}
.form__error{
    @apply text-red-500 text-sm;
}
.base__search{
    @apply bg-gray-50 border border-gray-200 px-3 py-2 outline-none focus:border-blue-500;
}
@tailwind utilities;

*{
    font-family: 'Ubuntu', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}